<!--<ion-header>
  <ion-toolbar>
    <ion-title>Splash</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" size-sm="2" size-md="3">
        <ion-img src="assets/img/Componente5–1.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" class="ion-text-center ion-margin-top">
        <p>Delivery y recogo de comida y abarrotes</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
