<ion-content style="position: relative;">
    <ion-card class="ion-no-margin card_menu">
      <div style="width: 100%;">
        <ion-button class="btn_menu">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button class="btn_menu_izquierdo" (click)="open_menu ()">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </div>
      <img src="assets/img/Grupo1558.png">
    </ion-card>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" size-sm="8" size-md="5">
          <ion-card class="ion-no-margin card_frutas">
              <img src="assets/img/021-bananas.png">
            <p class="p_font">Frutas y verduras</p>
          </ion-card>
        </ion-col>
        <ion-col size="11" size-sm="8" size-md="5">
          <ion-card class="ion-no-margin card_frutas">
              <img src="assets/img/049-supermarket.png">
            <p class="p_font">Carnes, pollos y fiambres</p>
          </ion-card>
        </ion-col>
        <ion-col size="11" size-sm="8" size-md="5">
          <ion-card class="ion-no-margin card_frutas">
              <img src="assets/img/008-baguettes.png">
            <p class="p_font">Panaderia</p>
          </ion-card>
        </ion-col>
        <ion-col size="11" size-sm="8" size-md="5">
          <ion-card class="ion-no-margin card_frutas">
              <img src="assets/img/018-products-4.png">
            <p class="p_font">No padecibles</p>
          </ion-card>
        </ion-col>
        <ion-col size="11" size-sm="8" size-md="5">
          <ion-card class="ion-no-margin card_frutas">
              <img src="assets/img/039-tools-and-utensils.png">
            <p class="p_font">Limpieza e higiene</p>
          </ion-card>
        </ion-col>
        <ion-col size="11" size-sm="8" size-md="5">
          <ion-card class="ion-no-margin card_frutas">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <p class="p_font">No padecibles</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
