<ion-content style="position: relative;">
  <ion-card class="ion-no-margin card_menu">
    <div style="width: 100%;">
      <ion-button class="btn_menu">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="btn_menu_izquierdo">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </div>
    <h1 class="ion-text-center">Options de delivery</h1>
    <ion-grid class="grid_card">
      <ion-row class="ion-justify-content-center">
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin">All</ion-button>
        </ion-col>
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin">Fruit</ion-button>
        </ion-col>
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin">Veg</ion-button>
        </ion-col>
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin">Nuts</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="card_frutas">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" size-sm="9" size-md="7">
          <ion-row class="ion-justify-content-center">
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-apple.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-banana.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-orange.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-lemon.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-pear.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-avocado.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-strawberry.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-kiwi.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <img src="assets/img/icon-mono-peach.png" class="img_fruta">
              <p class="p_subtitulos p_top">Apple (gk)</p>
              <div class="div_sumar_resta">
                <ion-button class="btn_menos">-</ion-button>
                <p class="mpb_number">0</p>
                <ion-button class="btn_menos">+</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-sm="7" size-md="7" size-lg="6" class="ion-margin-top">
      <ion-button class="btn_listo">Adelante</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
