<ion-content>
  <ion-button class="btn_menu_izquierdo">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-card>
    <ion-thumbnail>
      <img src="assets/img/919ffdf51c75e5a3222fd86b8afeb63e.png">
    </ion-thumbnail>
  </ion-card>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" size-sm="7">
        <h1>Especial del dia</h1>
        <p class="p_descripcion">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
        </p>
      </ion-col>
      <ion-col size="12" class="padding_top_bottom" style="background: #ffffff;">
        <ion-row class="ion-justify-content-center">
          <ion-col size="4" size-sm="2" style="border-right:1px solid #707070;display: flex;align-items: center;">
            <p class="p_bol_negro ion-no-margin">30% de dcto.</p>
          </ion-col>
          <ion-col size="4" size-sm="2" class="ion-padding-start">
            <div class="div_estrellas" style="display: flex;">
              <p class="estrella ion-no-margin"></p>
              <p class="estrella ion-no-margin"></p>
              <p class="estrella ion-no-margin"></p>
              <p class="estrella ion-no-margin"></p>
              <p class="estrella ion-no-margin"></p>
              <p class="estrella ion-no-margin"></p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="8" size-sm="7">
        <h5>Opciones menu</h5>
        <ion-radio-group value="biff">
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label>Sopa</ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label>Ensalada</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <h5>Para tomar</h5>
        <ion-radio-group value="biff">
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label>Maracuya</ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label>Chicha morada</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item lines="none">
                <ion-label>Gaseosa (S/.2.00)</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <h5>Postre</h5>
        <ion-radio-group value="biff">
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label>Sopa</ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label>Ensalada</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" style="background: #ffffff;">
      <ion-col size="8" size-sm="7">
        <h5>¿Algún comentario?</h5>
        <ion-textarea></ion-textarea>
        <div>
          <ion-button>Añadir mas</ion-button>
          <ion-button>Pagar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
